* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#preview {
  width: 390px;
  height: 844px;
  max-height: 844px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

#shadow,
#background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
}

#shadow {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background: linear-gradient(
    to bottom,
    transparent 40%,
    rgba(0, 0, 0, 0.2) 55%
  );
}

#calender-content {
  z-index: 1;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
  color: white;
}

#month-name {
  text-align: center;
  font-size: 32px;
}

table {
  border-spacing: 0px;
}
tr > td:first-child {
  padding-right: 10px;
  border-right: 1px solid lightgray;
}
td {
  text-align: center;
  padding: 5px;
}
