* {
  font-family: "Amatic SC", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Licorice", cursive;
  font-family: "Oooh Baby", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "The Nautigal", cursive;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background: #fff3e9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.wizard-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.wizard-step p {
  text-align: center;
}

.wizard-step label {
  text-align: center;
}

.navigate-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

button {
  background: #d8bba4;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

button:hover {
  background: #fff3e9;
  color: #000;
}


:root {
  --scale-factor: 0.8;
}

.preview-container {
  display: flex;
  justify-content: center;
}

#preview {
  width: calc(var(--scale-factor) * 390px);
  height: calc(var(--scale-factor) * 844px);
  max-height: calc(var(--scale-factor) * 844px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

#shadow,
#background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
}

#shadow {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background: linear-gradient(
    to bottom,
    transparent 40%,
    rgba(0, 0, 0, 0.2) 55%
  );
}

#calender-content {
  z-index: 1;
  padding-bottom: calc(var(--scale-factor) * 100px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
  color: white;
  font-size: calc(var(--scale-factor) * 18px);
}

#month-name {
  text-align: center;
  font-size: calc(var(--scale-factor) * 75px);
  margin-bottom: calc(var(--scale-factor) * 10px);
  letter-spacing: calc(var(--scale-factor) * 1px);
}

table {
  border-spacing: 0px;
}
tr > td:first-child {
  padding-right: calc(var(--scale-factor) * 10px);
  border-right: calc(var(--scale-factor) * 1px) solid lightgray;
}
td {
  text-align: center;
  padding: calc(var(--scale-factor) * 5px);
}
